/***************************
 * Two-column layout
 ****************************/
.left-column {
  color: rgb(119, 119, 119);
  width: 20%;
  height: 92%;
  float: left;
}
  .left-column h2, .left-column h3 {
    color: rgba(90, 90, 70, 0.5);
  }
  .left-column h2:last-of-type, .left-column h3:last-child {
    color: rgba(90, 90, 90, 0.9);
  }
.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}
