/***************************
 * Column layouts
 * template:
    <div class="row">
      <div class="column half">
      </div>
      <div class="column half">
      </div>
    </div>
 ****************************/
 /* Create two equal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.threequarter {
  width: 75%;
}

.seventy {
  width: 70%;
}

.sixty-five {
  width: 65%;
}

.sixty {
  width: 60%;
}

.half {
  width: 50%;
}

.forty-five {
  width: 45%;
}

.forty {
  width: 40%;
}

.thirty-five {
  width: 35%;
}

.thirty {
  width: 30%;
}

.quarter {
  width: 25%;
}

.twenty {
  width: 20%;
}

