/***************************
 * Column layouts
 * Example:
    <div class="row">
      <div class="column half" style="background-color:#aaa;">
        <h2>Column 1</h2>
        <p>Some text..</p>
      </div>
      <div class="column half" style="background-color:#bbb;">
        <h2>Column 2</h2>
        <p>Some text..</p>
      </div>
    </div>
 ****************************/
 /* Create two equal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.threequarter {
  width: 72%;
}

.seventy {
  width: 67%;
}

.sixty-five {
  width: 62%;
}

.sixty {
  width: 57%;
}

.half {
  width: 47%;
}

.forty-five {
  width: 42%;
}

.forty {
  width: 37%;
}

.thirty-five {
  width: 32%;
}

.thirty {
  width: 27%;
}

.quarter {
  width: 22%;
}

.twenty {
  width: 17%;
}

